html {
    font-size: 62.5%;
    background-color: hwb(125 9% 51%); /* set the background color */
    color: #1a0a13; /* set the font color */
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Helvetica Neue", Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    background-color: rgb(165, 108, 125);
    margin: 100px;
  }
